#cart {
    margin-left: 60%;
    max-width: 30%;
    max-height: 80%;
    z-index: 1;
    position: absolute;
    background-color: #124a09;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    color: rgb(122, 235, 195);
}
